<%= render :file => 'layouts/application' %>
<div class="content">
	<div class="innerContent">
		<h1><%= yield :title%></h1>
		<hr/> <br/>
		<%= yield %>
	</div>
</div>
<%= render :partial => "shared/footer" %>